@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-BlackItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Black.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../font/Roboto-Light.ttf);
    font-weight: light;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    font-size: 100%;
    font-family: Roboto;
    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.content-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 100%;
    grid-template-areas:
	"welcome-text"
	"projects";
}

.welcome-text {
    width: 100%;
    height: 100%;
    margin: auto;
    grid-area: welcome-text;
    background-color: #001427;
    color: #ebf5ff;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
    grid-template-areas:
	"text";
}

.little-text {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.name-text {
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: bold;
    margin: 0px;
}

.beauti-text {
    font-style: italic;
    font-weight: normal;
}

.projects-container {
    grid-area: projects;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* Important for iOS devices */

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.projects-container::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.project-name {
    grid-area: proj-name;
    font-weight: bold;
    margin: auto;
    font-size: 8rem;
}

.project-description {
    grid-area: proj-descr;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    font-weight: light;
}

.project {
    height: 100%;
    
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 100%;
    grid-template-areas:
	"proj-name"
	"proj-descr";
    
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

#blog {
    background-color: #bf0603;
    color: #ebf5ff;
}

#game {
    background-color: #9C92A3;
    color: #ebf5ff;
}

#soie {
    background-color: #0F7173;
    color: #ebf5ff;
}

@media (max-width: 1200px) {
    html, body {
	font-size: 125%;
    }
}

@media (max-height: 950px) {
    html, body {
	font-size: 75%;
    }
}
